.swiper-button-next {
    font-weight: 700;
    left: auto;
    margin-top: -100px;
    right: 0;
}
.swiper-button-prev {
    font-weight: 700;
    left: 0;
    margin-top: -100px;
    right: auto;
}
.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
}